.div_main_roadmap li{
    font-size: 3rem;
    margin-left: 2%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.div_main_roadmap h1{
    font-size: 3.5rem;
    display: block;
    margin-left: 2%;
    margin-top: 5%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

