.div_hashima_load{
    display: inline-block;
    width:fit-content;
    margin-bottom: 15%;
    padding: 1%;
  
  }

.nice_p_1243{
  display: block;
  width: 90%;
  font-size: 2rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

  }
  