



.input_1234{
   display: inline-block;
   font-size: 2rem;
   font-family: Georgia, 'Times New Roman', Times, serif;
   padding: 1%;
   border-radius: 3%;
   text-align: center;
   width: 45%; 
   
}

.input_123456{
  display: inline-block;
  font-size: 2rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 1%;
  border-radius: 3%;
  text-align: center;
  width: 35%; 
  
}

.button_12345{
    display: block;
    font-family: fantasy;
    font-size: 2rem;
    padding: 3%;
    border-radius: 25%;
    margin-left: 5%;
    background: linear-gradient(hotpink,black);
    color: silver;
}

.div_block_number{
    
    display: inline-block;
    margin-left:auto;
    margin-top: 1%;
    vertical-align: top;
    text-align: center;
    width: 30%;
}

.p_45{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display:inline-block;
    vertical-align: top;
    color:goldenrod;
}

.h1_titulo_charging{
  display: block;
  margin: auto;
  // font-size: 6.5rem;
  margin-top: 5%;
  text-shadow: -1px 0 goldenrod, 0 1px goldenrod, 1px 0 goldenrod, 0 -1px black;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  width: fit-content;
  animation: infinite alternate border 5s ease-in-out;
  @keyframes border {
    0%{
      text-shadow: -1px 0 silver, 0 1px goldenrod, 1px 0 goldenrod, 0 -1px black;
    
    }
    40%{
      text-shadow: -1px 0 silver, 0 1px goldenrod, 1px 0 goldenrod, 0 -1px silver;
    
    }
    80%{
      text-shadow: -1px 0 goldenrod, 0 1px goldenrod, 1px 0 goldenrod, 0 -1px silver;
    
    }
  }

  @media(max-width:375px){
      font-size: 3rem;
      // color: red;
  }
  @media(min-width:700px) {
    font-size: 6rem;
    // color: blueviolet;
}

}

