.div_main_auction_card{
    background:linear-gradient(white,white,navy);
    border-radius: 10%;
    height: 30vh;
    color: black;
}

.h1_max_bid{
    font-size: 2rem;
    width: 45%;
    color: black;
}