.div_estilo_green{
    border-radius: 10%;
    background: linear-gradient(45deg,lime,transparent,green,transparent);
    border-top: 1px solid transparent;
    color: white;
}

.h1_title_green{
    font-family: monospace;
    font-size: 2.7rem;
    text-align: center;
    width: 90%;
    

}