.p_title_home{
    animation: p_anim 25s ease-in-out infinite alternate;
}
.img_hashima{
    padding: 1%;
    border-radius: 10%;
    display: block;
    margin-left: 1%;
    margin-top: 1%;
    border: 1px black solid;
    transition: all 1s ease-in-out;
}

.img_hashima:hover{
    border: 3px teal solid;
    transition: all 1s ease-in-out;
   

}
@keyframes p_anim {
    0%{
        color:orchid;
    }
    10%{
        color:plum;
    }
    50%{
        color:snow;
    }
    100%{
        color:springgreen;
    }
}

.p_adaptable{
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
@media only screen and (max-width:480px){
    .p_adaptable{
        font-size: 1rem;
        color: red;
    }
}


.ul_list_home{
    color: whitesmoke;
    list-style: circle;
    display: inline-block;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 50%;

    @media (min-width:320px) {
        font-size: 1.3rem;
    }

    @media (min-width:414px) {
        font-size: 1.6rem;
    }
    @media (min-width:768px) {
        font-size: 1.2rem;
        
    }
    @media (min-width:1000px) {
        font-size: 3rem;
        
    }
}

.button_white_paper{
    border: 1px solid plum;
    background: transparent;
    color: whitesmoke;
    font-size: 2.6rem;
    margin-right: 5%;
    padding: 2% 1%;
    border-radius: 10%;

    &:hover{
        border: 1px solid hotpink;
        border-radius: 12%;
        transition: all 1s ease-in-out;
        font-size: 2.7rem;
    }
}