
.scene {
	width: 300px;
	height: 300px;
	margin: auto;
    perspective: 1200;
	-webkit-perspective: 1200;
	-moz-perspective: 1200;
}

.cube {
	-webkit-animation: turn 8s ease-in-out infinite;
    animation:turn 4s ease-in-out infinite;;
	-moz-animation: turn 8s ease-in-out infinite;
	position: absolute;
	width: 320px;
	height: 320px;
	top: 10px;
    transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
    transform-origin:  160px 160px -160px;
	-webkit-transform-origin: 160px 160px -160px;
	-moz-transform-origin: 160px 160px -160px;
}

@keyframes turn {
	33% {-webkit-transform: rotateY(180deg);}
	66% {-webkit-transform: rotateY(-180deg);}
}


.face {
	position: absolute;
	width: 20px;
	height: 20px;
	background-color: transparent;
	box-shadow: 
	100px 40px rgb(10, 62, 53),
	120px 40px rgb(10, 62, 53),
	140px 40px rgb(10, 62, 53),
	160px 40px rgb(10, 62, 53),
	180px 40px rgb(10, 62, 53),
	80px 60px rgb(10, 62, 53),
	100px 60px rgb(28, 233, 201),
	120px 60px rgb(24, 198, 170),
	140px 60px rgb(25, 177, 152),
	160px 60px rgb(25, 177, 152),
	180px 60px rgb(24, 198, 170),
	200px 60px rgb(10, 62, 53),
	220px 60px rgb(72, 53, 18),
	240px 60px rgb(104, 77, 25),
	100px 80px rgb(10, 62, 53),
	120px 80px rgb(10, 62, 53),
	140px 80px rgb(10, 62, 53),
	160px 80px rgb(10, 62, 53),
	180px 80px rgb(25, 177, 152),
	200px 80px rgb(25, 177, 152),
	220px 80px rgb(136, 103, 32),
	240px 80px rgb(39, 30, 9),
	180px 100px rgb(72, 53, 18),
	200px 100px rgb(24, 198, 170),
	220px 100px rgb(25, 177, 152),
	240px 100px rgb(10, 62, 53),
	160px 120px rgb(72, 53, 18),
	180px 120px rgb(104, 77, 25),
	200px 120px rgb(39, 30, 9),
	220px 120px rgb(25, 177, 152),
	240px 120px rgb(24, 198, 170),
	260px 120px rgb(10, 62, 53),
	140px 140px rgb(72, 53, 18),
	160px 140px rgb(136, 103, 32),
	180px 140px rgb(39, 30, 9),
	220px 140px rgb(10, 62, 53),
	240px 140px rgb(25, 177, 152),
	260px 140px rgb(10, 62, 53),
	120px 160px rgb(72, 53, 18),
	140px 160px rgb(104, 77, 25),
	160px 160px rgb(39, 30, 9),
	220px 160px rgb(10, 62, 53),
	240px 160px rgb(25, 177, 152),
	260px 160px rgb(10, 62, 53),
	100px 180px rgb(72, 53, 18),
	120px 180px rgb(136, 103, 32),
	140px 180px rgb(39, 30, 9),
	220px 180px rgb(10, 62, 53),
	240px 180px rgb(24, 198, 170),
	260px 180px rgb(10, 62, 53),
	80px 200px rgb(72, 53, 18),
	100px 200px rgb(104, 77, 25),
	120px 200px rgb(39, 30, 9),
	220px 200px rgb(10, 62, 53),
	240px 200px rgb(28, 233, 201),
	260px 200px rgb(10, 62, 53),
	60px 220px rgb(72, 53, 18),
	80px 220px rgb(136, 103, 32),
	100px 220px rgb(39, 30, 9),
	240px 220px rgb(10, 62, 53),
	40px 240px rgb(72, 53, 18),
	60px 240px rgb(104, 77, 25),
	80px 240px rgb(39, 30, 9),
	20px 260px rgb(72, 53, 18),
	40px 260px rgb(136, 103, 32),
	60px 260px rgb(39, 30, 9),
	20px 280px rgb(104, 77, 25),
	40px 280px rgb(39, 30, 9);
}

.face.front {-webkit-transform: translateZ(-160px);
			 -moz-transform: translateZ(-160px);}
.face.front2 {-webkit-transform: translateZ(-159px);
			 -moz-transform: translateZ(-159px);}
.face.front3 {-webkit-transform: translateZ(-158px);
			 -moz-transform: translateZ(-158px);}
.face.front4 {-webkit-transform: translateZ(-157px);
			 -moz-transform: translateZ(-157px);}
.face.front5 {-webkit-transform: translateZ(-156px);
			 -moz-transform: translateZ(-156px);}
.face.front6 {-webkit-transform: translateZ(-155px);
			 -moz-transform: translateZ(-155px);}
.face.front7 {-webkit-transform: translateZ(-154px);
			 -moz-transform: translateZ(-154px);}
.face.front8 {-webkit-transform: translateZ(-153px);
			 -moz-transform: translateZ(-153px);}
.face.front9 {-webkit-transform: translateZ(-152px);
			 -moz-transform: translateZ(-152px);}
.face.front10 {-webkit-transform: translateZ(-151px);
			 -moz-transform: translateZ(-151px);}
.face.front11 {-webkit-transform: translateZ(-150px);
			 -moz-transform: translateZ(-150px);}
.face.front12 {-webkit-transform: translateZ(-149px);
			 -moz-transform: translateZ(-149px);}
.face.front13 {-webkit-transform: translateZ(-148px);
			 -moz-transform: translateZ(-148px);}
.face.front14 {-webkit-transform: translateZ(-147px);
			 -moz-transform: translateZ(-147px);}
.face.front15 {-webkit-transform: translateZ(-146px);
			 -moz-transform: translateZ(-146px);}
.face.front16 {-webkit-transform: translateZ(-145px);
			 -moz-transform: translateZ(-145px);}
.face.front17 {-webkit-transform: translateZ(-144px);
			 -moz-transform: translateZ(-144px);}
.face.front18 {-webkit-transform: translateZ(-143px);
			 -moz-transform: translateZ(-143px);}
.face.front19 {-webkit-transform: translateZ(-142px);
			 -moz-transform: translateZ(-142px);}
.face.front20 {-webkit-transform: translateZ(-141px);
			 -moz-transform: translateZ(-141px);}
.face.front21 {-webkit-transform: translateZ(-140px);
			 -moz-transform: translateZ(-140px);}