.h1_titulo_carta{
    color: white;
    font-size: 3rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: block;
    width: fit-content;
    margin: auto;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    @keyframes caca {
        0%{
            
        }
    }
    
}

.imagen_hashima_card_{
    z-index: 4;
    display: block;
    margin: auto;
}

.p_descripcion_carta{
    color: whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 5%;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px goldenrod;
    // border: 0.5px silver solid;
    width: 96%;
    margin: auto;
    overflow: auto;
    height: 25vh;
    font-size:2rem;
    @media (min-width:320px) {
        font-size: 1.7rem;
    }
    
}

.div_bottom_carta{
    // background: palegreen;
    display: block;
    margin-top: 10%;
}

.p_numero_de_carta{
    display: flex;
    margin: auto;
    // background: red;
    overflow: hidden;
    font-family: cursive;
    opacity: 0.1;
    position:absolute;
    z-index: 0;
    width: fit-content;

    @media (min-width:320px) {
        font-size:15rem;
        
    }  
    @media (min-width:1000px) {
        font-size:26rem;
    }

}